services: 

  api:
    image: api:latest

    build:
      context: ..
      dockerfile: deployments/Dockerfile
    container_name: api
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ../cmd/api/config.yaml:/config.yaml
    environment:
      - API_ADDRESS=:8080
      - DB_URL=postgres://postgres:password@postgres:5432/postgres?sslmode=disable
    depends_on:
      postgres:
        condition: service_healthy

  tests:
    image: tests:latest
    build: ../tests
    container_name: tests
    restart: "no"
    entrypoint: "true"

  postgres:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password

    volumes:
      - postgres:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: unless-stopped
    ports:
      - "18888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@test.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_DISABLE_POSTFIX: "true"
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres

volumes:
  postgres:
  pgadmin:
